{% extends 'admin_base.html' %} {% block content %}
<title>{% block title %} Settings {% endblock %}</title>
<section class="admin-dashboard-container">
	<div class="admin-dashboard-content">
		<div class="admin-account">
			<div class="admin-account-control">
				<button onclick="window.location.href = '/admin/settings'">
					Change Username
				</button>
				<button class="active-tab">Change Password</button>
			</div>
			<div class="admin-account-body">
				<form>
					<input
						type="hidden"
						class="admin_current_password"
						value="{{ teacher_password }}" />
					<div class="form-group">
						<label for="currentpassword">Current Password</label>
						<input type="password" id="currentpassword" />
					</div>
					<div class="form-group">
						<label for="newpassword">New Password</label>
						<input type="password" id="newpassword" />
					</div>
					<div class="form-group">
						<label for="confirmpassword">Confirm Password</label>
						<input type="password" id="confirmpassword" />
					</div>
					<button type="submit" class="btn save_password_admin">submit</button>
				</form>
			</div>
		</div>
		<div class="admin-text">
			<h4>Changing username and password</h4>
			<p>
				Once you successfully change your password or username, the web
				application will force to logout and you need to re-login using your new
				username or password.
			</p>
		</div>
	</div>
</section>
{% endblock %}
