{% extends 'parent_base.html' %} {% block content %}
<title>{% block title %} About {% endblock %}</title>
<section class="container about-container">
	<div class="about-header">
		<h1 class="section-title">MABUHAY ELEMENTARY SCHOOL</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quibusdam
			nesciunt illum qui tempora et ad, libero placeat culpa totam corporis
			blanditiis. Sunt delectus a fuga fugit placeat nemo aliquam quod quia,
			corrupti velit, exercitationem amet voluptates doloribus atque beatae
			error? Cumque, itaque debitis repellendus molestias eligendi earum
			veritatis nulla?
		</p>
	</div>
	<div class="about-line"></div>
	<div class="about-content">
		<div>
			<h3 class="section-title">MISSION</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis
				animi cumque nihil beatae voluptates quam est eum illum corrupti illo
				adipisci mollitia, sapiente soluta nesciunt culpa iste, et quae possimus
				deserunt autem accusamus hic repudiandae. Natus, et omnis necessitatibus
				libero ipsam quidem? Nam enim corrupti mollitia qui ea dicta doloremque
				tenetur doloribus ullam. Consectetur.
			</p>
		</div>
		<div>
			<h3 class="section-title">VISION</h3>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aut
				nobis vel. Ipsum doloremque explicabo, quam iste aspernatur beatae sunt!
				Nihil ad minus ratione vero repellat ipsa enim ex harum?
			</p>
		</div>
		<div>
			<h3 class="section-title">MANDATE AND FUNCTIONS</h3>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
				recusandae nihil atque exercitationem nostrum rerum, necessitatibus
				similique quam, aspernatur quibusdam ipsum. Ipsam eius dolore,
				consequuntur tempora suscipit iure quibusdam corrupti consequatur
				similique porro cum, et earum vitae maxime quod esse beatae. Accusamus
				placeat officia autem eligendi vel dicta vero, qui libero earum mollitia
				aut commodi repudiandae doloremque, possimus id excepturi?
			</p>
		</div>
	</div>
</section>
{% endblock %}
