{% extends 'admin_base.html' %} {% block content %}
<title>{% block title %} Announcements {% endblock %}</title>
<section class="admin-announcements-container">
	<div class="table-header">
		<div class="flex">
			<a href="{{ url_for('announcements_admin') }}"
				><span class="material-symbols-outlined"> keyboard_backspace </span></a
			>
			<h1>Announcements | Archives</h1>
		</div>
	</div>
	<table class="table">
		<thead>
			<th class="small-cell">Title</th>
			<th class="medium-cell">Purpose</th>
			<th>Audience</th>
			<th>Date</th>
			<th>Place</th>
			<th>Status</th>
		</thead>
		{% if announcement_archives != None%} {% for announcement in
		announcement_archives %}
		<tr>
			<td>{{ announcement[1] }}</td>
			<td class="table-content">{{ announcement[3] }}</td>
			<td>{{ announcement[2] }}</td>
			<td>{{ announcement[5] }}</td>
			<td>{{ announcement[4] }}</td>
			<td>Archive</td>
		</tr>
		{% endfor %} {% endif %}
	</table>
</section>
{% endblock %}
