{% extends 'parent_base.html' %} {% block content %}
<title>{% block title %} Account {% endblock %}</title>
<section class="container account-container">
	<div class="account-content">
		<h1 class="section-title">MANAGE ACCOUNT</h1>
		<div class="account-content-main">
			<div class="account-controls">
				<button
					onclick="window.location.href='/parent/account/username'"
					class="control change-username">
					Change Username
				</button>
				<button class="control change-password active-button">
					Change Password
				</button>
			</div>
			<div class="account-form">
				<form action="" class="password-form">
					<input
						type="hidden"
						class="parent_currentPassowrd"
						value="{{ parent_pass }}" />
					<div class="form-group">
						<label for="currentpassword">Current Password</label>
						<input type="password" id="currentpassword" />
					</div>
					<div class="form-group">
						<label for="newpassword">New Password</label>
						<input type="password" id="newpassword" />
					</div>
					<div class="form-group">
						<label for="confirmpassword">Confirm Password</label>
						<input type="password" id="confirmpassword" />
					</div>
					<small
						>Once you successfully change your password, the web application
						will force to logout and you need to re-login.</small
					>
					<button type="submit" class="btn save_password_parent">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
