@import url("./main.css");

.event-date {
	font-size: 0.7rem;
	padding: 0.3rem 0.5rem;
	background: var(--color-black);
	border-radius: var(--border-round);
	color: var(--color-white);
}

.section-title {
	margin-bottom: 0.5rem;
}

.title-link {
	color: var(--color-black);
	transition: var(--transition);
}

.title-link:hover {
	color: var(--color-accent);
}

/* navbar */
.nav-teacher {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--color-black);
	z-index: 3;
}

.nav-teacher-container {
	height: 4rem;
	display: grid;
	place-items: center;
}

.nav-teacher-container .nav-teacher-links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.nav-teacher-container .nav-teacher-links li {
	text-transform: uppercase;
	font-weight: 600;
}

.nav-teacher-container .nav-teacher-links li a {
	font-size: 0.9rem;
	color: var(--color-white);
	transition: var(--transition);
}

.nav-teacher-container .nav-teacher-links li a:hover {
	color: var(--color-accent);
}

.nav-school,
.close-btn,
.menu-btn{
	display: none;
}

@media (max-width: 64em){
	.nav-teacher{
		padding-inline: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.nav-teacher-container .nav-teacher-links{
		position: absolute;
		top: 3.5rem;
		right: 0;
		left: 0;
		padding-block: 1rem;
		display: none;
		flex-direction: column;
		gap: 1rem;
		background: var(--color-black);
		transition: var(--transition);
	}

	.nav-school{
		color: var(--color-white);
		display: block;
		width: 100%;
	}

	.close-btn,
	.menu-btn{
		background: transparent;
	}

	.menu-btn{
		display: block;
	}

	.close-btn img,
	.menu-btn img{
		width: 1.1em;
	}
}

@media (max-width: 32em) {
	.nav-teacher{
		padding-inline: 1rem;
	}

	.event-title,
	.section-title {
		font-size: 1.3rem;
	}
}

/* home section */
.home-teacher-container {
	margin-top: 2rem;
}

.home-teacher-banner {
	height: 50vh;
	background-image: url("../assets/header-banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
}

.home-teacher-banner .home-teacher-content {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.home-teacher-content h1 {
	color: var(--color-white);
	text-transform: uppercase;
	font-size: 3rem;
	width: 50vw;
}

@media (max-width: 32em) {
	.home-teacher-content h1 {
		text-align: center;
		font-size: 2rem;
		width: 80vw;
	}

	.home-teacher-content img {
		display: none;
	}
}

/* announcement section*/
.home-teacher-announcement {
	margin-block: 2rem;
}

.home-teacher-announcement-content {
	margin-bottom: 2rem;
	height: 30vh;
	overflow: hidden;
	border-radius: var(--border-round);
	position: relative;
}

.home-teacher-announcement-content img {
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.home-teacher-announcement-content .home-teacher-announcement-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	border-radius: var(--border-round);
	background: #212121dc;
	color: var(--color-white);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home-teacher-announcement-content .home-teacher-announcement-text h3{
	align-self: flex-start;
}


@media (max-width: 64em) {
	.home-teacher-announcement-content .home-teacher-announcement-text {
		width: 80%;
		gap: 0.5rem;
	}
}

@media (max-width: 32em) {
	.home-teacher-announcement-content .home-teacher-announcement-text {
		width: 90%;
	}
}

/* event and articel section */
.event-title {
	margin: 1rem 0 1rem 1rem;
}

.home-teacher-event-article-container {
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 60% 37%;
	gap: 3%;
}

.home-teacher-event-article-container > div {
	height: max-content;
	background-color: var(--color-white);
}

.home-teacher-event-container .home-teacher-event-img-container {
	overflow: hidden;
	max-height: 15em;
}

.home-teacher-event-container .home-teacher-event-img-container img {
	object-fit: cover;
	width: 100%;
}

.home-teacher-article-container,
.home-teacher-event-container .home-teacher-event-content {
	padding: 1rem;
}
.home-teacher-event-container
	.home-teacher-event-content
	.home-teacher-event-content-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.home-teacher-article-content:not(:last-child) {
	padding-bottom: 1rem;
	border-bottom: 0.2rem solid var(--color-gray);
	margin-bottom: 1rem;
}

.home-teacher-article-content .home-teacher-article-content-header img {
	width: 7rem;
	aspect-ratio: 3/2;
	object-fit: cover;
}

.home-teacher-article-content .home-teacher-article-content-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

@media (max-width: 64em) {
	.home-teacher-event-article-container {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

.account-container,
.announcement-container,
.article-container,
.event-container,
.student-container {
	background: var(--color-white);
	box-shadow: var(--shadow);
	padding: 4rem 5rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.account-container h1,
.announcement-container h1,
.article-container h1,
.event-container h1,
.student-container h1,
h3 {
	text-align: center;
}

.article-container p,
.event-container p,
.student-container p {
	text-align: justify;
}

@media (max-width: 64em) {
	.account-container,
	.article-container,
	.event-container,
	.student-container {
		padding-inline: 2rem;
	}
}

@media (max-width: 32em) {
	.account-container,
	.announcement-container,
	.event-container,
	.student-container {
		padding: 2rem 1rem;
	}
}

.announcement-content h1,
.article-content-page h1,
.event-content-page h1 {
	margin-bottom: 1rem;
}

.announcement-content-main h3 {
	text-align: left;
}

.announcement-content-main {
	padding-block: 1rem;
}

.article-content-main,
.event-content-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding-block: 1rem;
}
.announcement-content-main-border:not(:last-child),
.article-content-main:not(:last-child),
.event-content-main:not(:last-child) {
	border-bottom: 2px solid var(--color-gray);
}

.article-content-main .article-content-img,
.event-content-main .event-content-img {
	width: 70%;
	overflow: hidden;
}


.article-content-main img,
.event-content-main img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.article-content-text-header,
.event-content-text-header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.announcement-content-table {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.announcement-title-control{
	align-items: center;
	justify-content: space-between;
}

.announcement-content-text {
	display: grid;
	grid-template-columns: 10% 90%;
	gap: 2.5rem;
}

.announcement-content-text span {
	font-weight: 600;
}

.announcement-header {
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
	border-bottom: 2px solid var(--color-gray);
}

.announcement-header h1,
.announcement-header button {
	margin-block: 0;
}

@media (max-width: 32em) {
	.article-content-text-header,
	.event-content-text-header {
		text-align: center;
		flex-direction: column;
		gap: 0rem;
		margin-bottom: 1.5rem;
	}

	.announcement-content-text {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* student page */
.student-table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid var(--color-black);
}

.student-table tr th,
.student-table tr td {
	padding-block: 0.5rem;
}

.student-table tr th {
	background: var(--color-black);
	color: var(--color-white);
}

.student-table tr td {
	font-size: 0.9rem;
}

.student-table tr:hover {
	background: var(--color-bg);
}

.your-post{
	background:var(--color-bg);
	padding: .5rem;
	margin-bottom: .5rem;
}


.form-group-account	{
    flex-direction: column;
    gap: .5rem;
}

.form-group-account label{
    font-size: .9rem;
}

.form-group-account input{
    border-radius: var(--border-round);
    border: 1px solid var(--color-black);
    padding: .5rem 1rem;
}

.account-controls{
    margin-top: 2rem;
    border-bottom: 2px solid var(--color-black);
}

.account-controls .control{
    cursor: pointer;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem 1rem;
    color: var(--color-white);
    background: var(--color-black);
}

.account-controls .active-button{
    padding-top: 1rem;
}

.account-form{
    background: var(--color-bg);
    padding-block: 3rem;

    display: grid;
    place-items: center;
}

.account-form .username-form,
.account-form .password-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 32em) {
	.account-form .username-form,
    .account-form .password-form{
		width: 90%;
	}
}