{% extends 'admin_base.html' %} {% block content %}
<title>{% block title %} Students {% endblock %}</title>
<section class="admin-students-container">
	<div class="table-header">
		<div class="flex control-header">
			<a href="{{ url_for('students_admin') }}"
				><span class="material-symbols-outlined"> keyboard_backspace </span></a
			>
			<h1>Grade 2</h1>
		</div>
		<div class="flex">
			<a
				href="{{ url_for('students_grade_two_archives') }}"
				class="btn-archives"
				>Archive</a
			>
		</div>
	</div>
	{% if student %}
	<div class="view-bg">
		<div class="view">
			<div class="flex view-header">
				<a href="{{ url_for('students_grade_two') }}" class="close-view"
					>&times;</a
				>
				<h2>Student</h2>
			</div>
			<div class="view-body">
				<div class="flex view-content">
					<div class="view-text">
						<div>
							<h4>Full Name</h4>
							<p>{{ student[1] + ", " + student[2] + ", " + student[3] }}</p>
						</div>
						<div>
							<h4>Learner Referece Number</h4>
							<p>{{ student[6] }}</p>
						</div>
						<div class="grid">
							<div>
								<h4>Date of Birth</h4>
								<p>{{ student[4] }}</p>
							</div>
							<div>
								<h4>Age</h4>
								<p>{{ student[5] }}</p>
							</div>
						</div>
						<div class="grid">
							<div>
								<h4>Grade</h4>
								<p>{{ student[7] }}</p>
							</div>
							<div>
								<h4>Section</h4>
								<p>{{ student[8] }}</p>
							</div>
						</div>
						<div>
							<h4>Address</h4>
							<p>{{ student[9] }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<table class="table">
		<thead>
			<th class="small-cell">Name</th>
			<th class="smaller-cell">Section</th>
			<th class="smaller-cell">Age</th>
			<th class="small-cell">LRN</th>
			<th class="small-cell">Address</th>
			<th class="small-cell">Actions</th>
		</thead>
		{% if grade_two != None %} {% for student in grade_two %}
		<tr>
			<td>{{ student[1] + " " + student[2] }}</td>
			<td>{{ student[8] }}</td>
			<td>{{ student[5] }}</td>
			<td>{{ student[6] }}</td>
			<td>{{ student[9] }}</td>
			<td>
				<input type="hidden" class="student_id" value="{{ student[0] }}" />
				<a
					href="{{ url_for('students_grade_two_view', student_id=student[0]) }}"
					>View</a
				>
				|
				<a href="javascript:void(0)" class="archive_students_btn red"
					>Archive</a
				>
			</td>
		</tr>
		{% endfor %} {% endif %}
	</table>
</section>
{% endblock %}
